[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
requests = "*"
"bs4" = "*"
"autopep8" = "*"
pandas = "*"
numpy = "*"
statsmodels = "*"
pandas-datareader = "*"
scipy = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
