// colors
$primary-background: rgba(219, 219, 219, 0.952);
$primary-color: rgb(0, 0, 0);
$secondary-color: #820000;
// fonts
$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $primary-background;
    font-family: $roboto;
}

footer.page-footer,
nav.nav-wrapper {
    background-color: $secondary-color !important;
}

input {
    border-bottom: 1px solid $secondary-color !important;
    box-shadow: 0 1px 0 0 $secondary-color !important;
}

.red-fg {
    color: $secondary-color !important;
}

.chip,
.red-bg {
    background-color: $secondary-color !important;
}

main {
    flex: 1 0 auto;
    h3,
    h2,
    h1 {
        font-family: $oswald;
    }
    blockquote {
        margin: 20px 0;
        padding-left: 1.5rem;
        border-left: 5px solid $secondary-color;
    }
    .btn {
        background-color: $secondary-color;
        &:hover {
            background-color: darken($secondary-color, 20%);
        }
    }
    h3 i.material-icons {
        font-size: 3rem !important;
    }
    p.flow-text {
        text-align: justify;
        text-justify: inter-word;
    }
    p#about-info {
        font-size: 22px;
    }
}