{% extends "base.html.j2" %} {% block content %}
<div class="row">
    <div class="col s12">
        <h2>About Us</h2>
    </div>
</div>
<div class="row">
    <p class="flow-text justify">
        We perform quantitative analysis on stocks and publish our results on this website. Our algorithms crunch data at regular
        intervals and the results of the analysis are updated instantaneously. Anyone interested is free to use our results
        for their personal trading. Please share your invaluable suggestions and feedback.
    </p>
</div>
{% endblock content %}