{% extends "base.html.j2" %} {% block content %}
<div class="row">
    <div class="col s12">
        <h2><i class="material-icons medium show-on-med-and-up">call</i> Contact Us</h2>
    </div>
</div>
<div class="row">
    <p class="flow-text">
        We extract data after markets close and our algorithms run overnight. <em>Check the <strong>last updated</strong> tag on each table
        to ensure that the data is up-to-date.</em> We are quants who seek to level the playing field of financial investing.
        We believe in equitable dissemination of information when it comes to markets and are committed to making our quantitative
        analysis available free to everyone. This is just a start and we are committed to increasing the scope and depth
        of the analysis shared here. Please help us by <a href="mailto:contact@quantdost.com">letting us know</a> what we are or what we are not doing well.
        Your feedback is invaluable to us.</p>
</div>
{% endblock content %}