<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Reach out!</h5>
                <p class="grey-text text-lighten-4">
                    <i class="material-icons">rss_feed</i> You can subscribe to our newsletter to receive daily updates!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Details</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Email: contact@quantdost.com</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 All rights reserved
            <a class="grey-text text-lighten-4 right" href="{% url 'homepage' %}">Quantdost</a>
        </div>
    </div>
</footer>
<script>
    $(document).ready(function () {
        // intialize the sidenav
        $('.sidenav').sidenav();
    });
</script>