<nav class="navbar-fixed">
    <div class="nav-wrapper">
        <a href="{% url 'homepage' %}" class="brand-logo center">
            <strong>Quant</strong>Dost</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
                <a href="{% url 'homepage' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'methodology' %}">Methodology</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="{% url 'about' %}">About Us</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>