{% load static %}
<!-- global styles -->
<link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:400" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- global scripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/materialize.min.js' %}"></script>