{% extends "base.html.j2" %}
{% load static %} {% block head %}
<link href="//cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="{% static 'css/datatables.css' %}" rel="stylesheet">
<style>
    div.dataTables_wrapper {
        margin-bottom: 3em;
    }
</style>
<script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
{% endblock head %} {% block scripts %}
<script>
    $(document).ready(function () {
        $("table").addClass("data-table");
        $('table.data-table').DataTable();
        $("select").addClass("browser-default");
        $("a.paginate_button").addClass("btn waves-effect waves-dark").removeClass("paginate_button");
        $("body").bind("DOMNodeInserted", function() {
            $(this).find('a.paginate_button').addClass('btn waves-effect waves-dark').removeClass("paginate_button");
        });
    });
</script>
{% endblock scripts %}{% block content %}
<div class="row">
    <div class="col s12">
        <h2>Test Page</h2>
    </div>
</div>
<div class="row">
    {{ table | safe }}
</div>
{% endblock content %}